# Copia este archivo como ".env" y rellena tus datos reales
DB_USER=sa
DB_PASSWORD=tu_password
DB_SERVER=localhost
DB_DATABASE=nombre_de_tu_bd
DB_PORT=1433
# true si usas Azure SQL, false si es SQL Server local
DB_ENCRYPT=false
PORT=3000
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_secreta
JWT_EXPIRES_IN=8h
